<h1>Direct Shifts Assignment </h1>
<br>
<p> Hi Friend,</p>
<br>
<p> Have you heard about DirectShifts? If not I advise you to visit their site https://www.directshifts.com/companies and sign up for a bright career as Clinician</p>

<br>
<p><%= @contact.message %></p>
<br>
<br>
<p>Sincerely,</p>
<p>Raja Sekhar K</p>